body{
    background-color: grey;
    text-align: center
}

form{
    background-color: white;
    display: flex;
    flex-direction: column;
    border-radius: 20px;
    align-items: center;
}
img{
    width: 50%;
    height: 20%;
}
p{
    background-color: aqua;
}