*{
    margin: 0;
    border: 0;
    padding: 0;
}
body{
    background-color: grey;
    
    display: flex;
    
    text-align: center;
    align-items: center;
    justify-content: center;
}
main {
    background-color: white;
    min-width: 375px;
    max-width: 50%;

    margin-left: 25vw;
    margin-right: 25vw;

    justify-content: center;

    padding: 2rem;
    border-radius: 10px;
    
    margin-top: 1%;
    margin-bottom: 1%;
}

form{
    display: flex;
    flex-direction: column;
    margin-top: 5%;
    margin-bottom: 5%;
}

img{
    width: 80%;
    margin-left: 10%;
}
p.time {
    
    padding: 10%;
    font-size: 62px;
}
div.butoes{
    align-items: center;
}
button{
    margin-top: 4%;
    padding: 5%;
    width: 30%;
}
