* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: rgba(233, 93, 93, 0.192);
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  font-family: "Lato", sans-serif;
  text-align: center;
}

main {
  background-color: white;
  width: 100%;
  max-width: 400px;
  padding: 2rem;
  border-radius: 10px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

div.caixa {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

img {
  width: 100%;
}

button img {
  width: 100%;
  max-width: 120px;
}

p.time {
  font-size: 72px;
  line-height: 80px;
  color: #e74c3c;
  font-weight: bold;
}

div.butoes {
  display: flex;
  justify-content: space-between;
  margin-top: 20px;
  width: 100%; /* Garantir que os botões ocupem 100% da largura */
}

button {
  background: none;
  padding: 2px;
  width: 40%;
  border: 0;
  border-radius: 100%;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

button:hover {
  background-color: rgba(0, 0, 0, 0.1);
}
